body{
  background-color: #212F3D;
}
nav{
  background-color: #5D6D7E;
}
a:hover{
  background-color:#06192E;
}
.head{
  background: url(new.jpg);
  padding: 100px;
  text-align: center
}
button{
  float:right;
}
.navbar-light .navbar-toggler {

  border-color: rgba(49, 222, 54, 0.3);

}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color:#212F3D;
    border-color: #8064A2;
}
